body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  height: 48px;
}
.logo {
  margin-right: 20px;
  height: 40px;
}
#button-cust {
  color: #9b9b9b;
  margin-top: 0px;
  height: 48px;
  width: 150px;
  border: 1px solid #9b9b9b;
  outline: none;
}
#button-cust-2 {
  margin-top: 0px;
  height: 48px;
  width: 150px;
  outline: none;
}
#button-cust-3 {
  margin-top: 0px;
  height: 48px;
  width: 300px;
  outline: none;
}
#button-save {
  margin-top: 0px;
  height: 48px;
  width: 130px;
  outline: none;
}
#button-seller {
  margin-top: 0px;
  height: 48px;
  width: 150px;
  outline: none;
}
#button-seller-2 {
  margin-top: 0px;
  height: 48px;
  width: 150px;
  outline: none;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
}
#text-all {
  margin: 26px 0;
  text-align: right;
}
#button-login {
  border-radius: 40px;
}
#input-wrp {
  width: 30%;
  margin-top: 40px;
}
#input-margin {
  margin-top: 14px;
}
#container-login {
  width: 30%;
  margin-top: 40px;
}
#link {
  text-decoration: none;
}
#logo-nav {
  height: 50px;
  margin-left: 95px;
  margin-top: 10px;
}
#text-nav {
  text-align: left;
}
.box-wrapper {
  display: flex;
}
.box1 {
  height: 185px;
  width: 185px;
  background-color: #cc0b04;
  border-radius: 9px;
}
#cat-1 {
  width: 80px;
  height: 100px;
  margin-top: 41px;
  margin-left: 49px;
}
.box2 {
  height: 185px;
  width: 185px;
  background-color: #1c3391;
  border-radius: 9px;
}
#cat-2 {
  width: 100px;
  height: 85px;
  margin-top: 58px;
  margin-left: 42px;
}
.box3 {
  height: 185px;
  width: 185px;
  background-color: #f67b02;
  border-radius: 9px;
}
#cat-3 {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 45px;
}
.box4 {
  height: 185px;
  width: 185px;
  background-color: #e31f51;
  border-radius: 9px;
}
#cat-4 {
  width: 65px;
  height: 100px;
  margin-top: 50px;
  margin-left: 58px;
}
.box5 {
  height: 185px;
  width: 185px;
  background-color: #57cd9e;
  border-radius: 9px;
}
.box6 {
  height: 185px;
  width: 185px;
  background-color: #9b9b9b;
  border-radius: 9px;
}
#cat-5 {
  width: 140px;
  height: 90px;
  margin-top: 60px;
  margin-left: 25px;
}
.bg-new {
  background-color: #f5f5f5;
  margin-top: 25px;
}
.bg-new-1 {
  background-color: #f5f5f5;
  margin-top: 25px;
}

.col-md-4 {
  margin-top: 20px;
}
.cell {
  width: 450px;
  height: 350px;
  margin: 10px 15px;
  overflow: hidden;
  border-radius: 8px;
}
.cell img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
#thumbnail-img {
  border-radius: 15px;
}
.card-text {
  color: red;
}
.checked {
  color: orange;
}
.rating {
  color: #9b9b9b;
  font-size: 12px;
}
#text-h4 {
  color: white;
  margin-left: 40px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 22px;
  margin-left: 20px;
}
#avatar2 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .navbar-shop {
    background-color: #cc0b04;
    display: block;
  }
}
.bg-nav{
  background-color: white;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f6fa;
}

.wrapper .sidebar {
  background: #f5f5f5;
  position: fixed;
  top: 126px;
  left: 0;
  width: 400px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #1c3391;
}
#check-img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin: 20px;
}
.card-new {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.card-new2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
}
.clr-btn {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.counter1 {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
  margin-right: 8px;
}
.count1 {
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  margin-right: 8px;
}
.btn-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.card-bottom {
  border-radius: 10px;
  margin-top: 10px;
  
}
.card-top {
  height: 900px;
  border-radius: 20px;
}
.car-enabled {
  position: relative;
}

.car-enabled:focus {
  outline: none;
}

.car-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.car-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.car-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.car-enabled.is-draggable .car-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.car-enabled.is-draggable .car-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- car-button ---- */

.car-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.car-button:hover {
  background: white;
  cursor: pointer;
}

.car-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.car-button:active {
  opacity: 0.6;
}

.car-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.car-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.car-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.car-prev-next-button.previous {
  left: 10px;
}
.car-prev-next-button.next {
  right: 10px;
}
/* right to left */
.car-rtl .car-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.car-rtl .car-prev-next-button.next {
  right: auto;
  left: 10px;
}

.car-prev-next-button .car-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.car-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.car-rtl .car-page-dots {
  direction: rtl;
}

.car-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.car-page-dots .dot.is-selected {
  opacity: 1;
}
.btn-outline-new {
  color: #8e8e93;
  border-color: #8e8e93;
}
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  background-color: #cc0b04;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-check input:checked ~ .checkmark {
  background-color: red;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-check input:checked ~ .checkmark:after {
  display: block;
}

.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

aside {
  width: 25%;
  height: 330px;
  float: left;
  background: #ff7f50;
  padding: 10px;
  align-self: flex-end;
}

@font-face {
  font-family: "Metropolis Bold";
  src: url(./font/Metropolis-Bold.ttf);
}
@font-face {
  font-family: "Metropolis Medium";
  src: url(./font/Metropolis-Medium.ttf);
}
@font-face {
  font-family: "Metropolis Regular";
  src: url(./font/Metropolis-Regular.ttf);
}
.card-body-1 {
  margin-left: 33px;
}
.btn-img {
  margin-left: 5px;
}
.myfont {
  font-family: "Metropolis Bold";
}
.myfont2 {
  font-family: "Metropolis Regular";
}
.myfont3 {
  font-family: "Metropolis Medium";
}
.carousel-caption {
  font-family: "Metropolis Bold";
}
.card-title {
  font-family: "Metropolis Medium";
}
.card-title1 {
  font-family: "Metropolis Bold";
}
.card-text {
  font-family: "Metropolis Medium";
}
.card-text-zalora {
  font-family: "Metropolis Regular";
}
.btn {
  font-family: "Metropolis Regular";
}
.title-text {
  margin-top: 20ppx;
}
.search-input {
  border-radius: 50px;
  height: 45px;
}
.carousel-image {
  width: 1280px;
  height: 500px;
  margin-left: 15px;
  border-radius: 20px;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover{
  color: white;
}
.align-font-carousel {
  margin-bottom: 130px;
  font-size: 80px;
}
.text-title{
  margin-top: 35px;
  margin-left: 12px;
}
.text-sub{
  margin-left: 12px;
  color: #9b9b9b;
  font-family: "Metropolis Regular";
}
.image-category{
  width: 250px;
  height: 180px;
}
.row-card{
  gap: 10px;
}
.text-product{
  font-family: "Metropolis Medium";
  font-size: 18px;
}
.text-price{
  font-family: "Metropolis Medium";
  color: red;
  font-size: 18px;
}
.text-brand{
  font-family: "Metropolis Medium";
  color: #9B9B9B;
  font-size: 15px;
}
.fastar{
  color: #FFBA49;
}
.bag-pruduct{
  border-radius: 10px;
  width: 103px;
  height: 69px;
}
.color-font{
  color: #9b9b9b;
}
.button-bag{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.button-plus{
  color: black;
  background-color: white;
}
.link-product{
  text-decoration: none;
  color: black;
}
.link-product:hover{
  color: black;
}
.link-title-detail{
  text-decoration: none;
}
.button-color{
  height: 28px;
  width: 28px;
  border-radius: 90px;
}
.btn-min{
  background-color: #e5e5e5;
  height: 35px;
  width: 35px;
  color: white;
  border: none;
}
.btn-plus{
  background-color: white;
  height: 35px;
  width: 35px;
  color: black;
  border: none;
}
.btn-in-product{
  width: 195px;
}
.btn-in-product2{
  width: 390px;
}
.progress-bar-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #DB3022;
  text-align: center;
  white-space: nowrap;
  background-color: #DB3022;
  transition: var(--bs-progress-bar-transition);
}
.progress-1 {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.375rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
  margin-top: 5px;
}
.progress-2 {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.375rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
  margin-top: 25px;
}
.progress-3 {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.375rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
  margin-top: 22px;
}
.progress-4 {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.375rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
  margin-top: 25px;
}
.progress-5 {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.375rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #0d6efd;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
  margin-top: 23px;
}